*{
    margin: 0;
    padding: 0;


  }

  body {
    background: linear-gradient(to left, #8942a8, #ba382f);

    margin-top: -20px;
  }

  nav {
    width: 100%;
    height: 100;
    

   
    
    background-color: black;
    
  }
  ul li {
    list-style: none;
    display: inline-block;
    line-height: 100px;
  }
  ul li a {
    text-decoration: none;
    font-size: 20px;
    font-family: Arial;
    color: white;
    padding: 0 20px;
    top: -40px;
  }
  ul li a:hover{
    color: red;
  }

  #instagram{
    width: 55px;
    height: 55px;
    position: relative;
    top: 20px;
    right:  20px;
    float: right
  }
  #facebook{
    width: 55px;
    height: 55px;
    position: relative;
    top: 2px;
    right:  40px;
    float: right
  }

  .animation-area{
    background: linear-gradient(to left, #8942a8, #ba382f);
    height: 100vh;   
    
    list-style: none;
  }

  .box-area{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    overflow: hidden;
  }

  .box-area li{
    position: absolute;
    display: block;
    list-style: none;
    width: 25px;
    height: 25px;
    background: rgba(255,255,255,0.2);
    animation: animate 20s linear infinite;
  }
  .box-area li:nth-child(1){
    left: 86%;
    width: 80px;
    height: 80px;
    animation-delay: 0s;

  }

  .box-area li:nth-child(2){
    left: 12%;
    width: 30px;
    height: 30px;
    animation-delay: 1,5s;
    animation-duration: 10s;

  }

  .box-area li:nth-child(3){
    left: 70%;
    width: 100px;
    height: 100px;
    animation-delay: 5,5s;
  

  }

  .box-area li:nth-child(4) {
    top: 65%;
    left: 75%;
    animation: animate 7s linear infinite;
    }
    .box-area li:nth-child(5) {
    top: 90%;
    left: 10%;
    animation: animate 9s linear infinite;
    }
    .box-area li:nth-child(6) {
    top: 30%;
    left: 60%;
    animation: animate 5s linear infinite;
    }
    .box-area li:nth-child(7) {
    top: 70%;
    left: 33%;
    animation: animate 8s linear infinite;
    }
    .box-area li:nth-child(8) {
    top: 75%;
    left: 60%;
    animation: animate 10s linear infinite;
    }
    .box-area li:nth-child(9) {
    top: 23%;
    left: 50%;
    animation: animate 6s linear infinite;
    }
    .box-area li:nth-child(10) {
    top: 35%;
    left: 7%;
    animation: animate 10s linear infinite;
    }
    @keyframes animate{
     0% {
       transform: translateY(0) rotate(0deg);
       opacity: 1;

      }
      100%{
        transform: translateY(-800px) rotate(360deg);
        opacity: 0;
 
    }

  }
